<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Make My Trip admin</title>
    <link th:href="@{/styles/admin_main.css}" type="text/css" href="" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class = "nav-bar" style="margin-top: 2%">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand"> Make My Trip</a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="admin/home">home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/trips">Trips</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/vehicles">Vehicles</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/models">Models</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/companies">Companies</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/cities">Cities</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/countries">Countries</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/transactions">Transactions</a></li>
                </ul>
            </div>
        </nav>


    </div>
</div>

<div class="main-div" >
    <div>
        <h3> Country Information </h3>
    </div>
    <div class="info-div">
        <h5> <b>Country Id :</b>  <span th:text="${country.countryId}"></span> </h5>
        <h5> <b>Country Name :</b>  <span th:text="${country.countryName}"></span> </h5>
    </div>

    <div style="display: flex">
        <a th:href="@{'/admin/countries/' + ${country.countryId} + '/edit'}">
            <button  value = "edit" class="btn btn-lg btn-secondary" style="margin-right: 1em" >Edit</button>
        </a>
        <form th:action="@{'/admin/countries/' + ${country.countryId}}" method="post" >
            <div class="form-group align-bottom" >

               <button type="submit" name="action" value = "delete" class="btn btn-lg btn-danger" >Delete</button>
            </div>
        </form>
        <a href="/admin/countries/">
            <button  value = "back" class="btn btn-lg btn-secondary" style="margin-left: 1em" >Back</button>
        </a>
    </div>

</div>

</body>
</html>