<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Make My Trip admin</title>
    <link th:href="@{/styles/customer_main.css}" type="text/css" href="" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<div>
    <div class="nav-div" style="padding-bottom: 3em" th:insert="home :: customer-navbar"> </div>


</div>

<div  class="plan-info-div" style="margin-top: 5em">
    <h3 style="text-align: center;margin-bottom: .5em ; margin-top: 3em">Information: </h3>
    <h5 style="margin-left: 3em">Number of Passengers: <span th:text="${plan.getRequestedTickets()}"> </span></h5>
    <h5 style="margin-left: 3em">Number of stops: <span th:text="${plan.getNumberOfTrips()}-1"> </span></h5>
    <h5 style="margin-left: 3em">Total Cost: <span th:text="${plan.getRequestedTickets()}*${plan.getPrice()}"> </span></h5>
    <h5 style="margin-left: 3em">From: <span th:text="${trips.get(0).get('CS')}"> </span></h5>
    <h5 style="margin-left: 3em">To: <span th:text="${trips.get(trips.size()-1).get('CD')}"> </span></h5>
</div>


<div>
    <h3>You will be paying for the following trips</h3>
</div>

<div class="grid-container" style="padding-top: 10em">
    <div class="book-trip-container-div" th:each="trip : ${trips}">
        <h4 th:text="${trip.get('COMPANY_NAME')} + '-' + ${trip.get('VEHICLE_ID')}"> </h4> <br>
        <h5 > <b><span th:text="${trip.get('START_TIME')} "></span><span th:text="' '+ ${trip.get('CS')}"> </span> </b> <span th:text="${trip.get('SADD')}"> </span></h5>
        <h5 > <b><span th:text="${trip.get('FINISHTIME')} "></span><span th:text="' '+ ${trip.get('CD')}"> </span> </b> <span th:text="${trip.get('DADD')}"> </span></h5>
    </div>
</div>

<div >
    <h3 style="text-align: center;margin-bottom: .5em ; margin-top: 3em"> <b>Fill Up Travellers' Information: <b></h3>
</div>

<div>
    <form  th:action="@{/user/searchResults/book}" th:object="${form}" method="post">
        <th:block th:each="trip,loop : ${trips}">
            <input type="hidden"  th:name="|tripIds[${loop.index}]|" th:value="${trip.get('TRIP_ID')}">
        </th:block>
        <input type="hidden" th:name="type" th:value="${plan.getType()}">
        <fieldset>
            <div style="width: 80%; margin: 3em auto 1em auto">
                <button style="display: block;  margin-left: auto;  margin-right: 0;"> <input type="reset" id="resetButton" name="reset" th:value="Reset" /></button>
            </div>

            <table class="table table-light table-striped" style="width: 80%; margin: 0 auto 1em auto">
                <thead>
                <tr>
                    <th scope="col" th:width="20"><b> Name </b></th>
                    <th scope="col" th:width="30"><b> Type </b> </th>
                    <th scope="col" th:width="30"><b> Id No </b> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="traveller, loop : *{travellers}">
                    <td><input th:field="*{travellers[__${loop.index}__].name}" size="50" /></td>
                    <td><input th:field="*{travellers[__${loop.index}__].identificationType}" size="50" /></td>
                    <td><input th:field="*{travellers[__${loop.index}__].identificationNo}" size="50"/></td>
                </tr>
                </tbody>
            </table>
        </fieldset>

        <div class="form-group align-bottom" style="margin-top: 2em; display: flex">
            <button type="submit" name="action" value = "confirm" class="btn btn-lg btn-primary" style="margin: auto auto auto auto; width: 30%">Confirm And Pay</button>
        </div>
    </form>
</div>

</body>
</html>